body {
  margin: 0;
  padding: 0;
}

.container {
  width: 900px;
  margin: auto;
  min-height: 100vh;
  border: 1px solid #000;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 120px 1fr auto;
  grid-gap: 10px;
  grid-template-areas: 
  "header header"
  "nav content"
  "footer footer"
  ;
}

header {
  grid-area: header;
}

main {
  grid-area: content;
}

nav {
  grid-area: nav;
}

footer {
  grid-area: footer;
}